* {
    box-sizing: border-box;
}
html {
    height: 100%;
    margin: 0;
}


body {
    margin: 0%;
    display: flex; /* les deux colonnes sont côte à côte */
    height: 100%;/* le body prend des PX de l'ecran du navigateur */
}

.colonne1 {
    width: 25%; /* Définir la largeur de la colonne */
    /*padding-right: 1%; /* Définir la largeur de l'espace à droite de la colonne1 */
    text-align: center;/* aligner le texte de la colonne2 */
    background-color: rgb(168, 162, 162); /* choix couleur de fond colonne1 */
    overflow-y: scroll; /* ajout du scroller dans la colonne1 */
    height: 100%;
    
  }

.colonne2 {
    width: 75%; /* Définir la largeur de la colonne */
    /*padding-left: 1%; /* Définir la largeur de l'espace à droite de la colonne2 */
    text-align: center; /* aligner le texte de la colonne2 */
    
}

h2 {
    border-width: 1.5px;
    border-style : solid;
    border-color: aliceblue;
    margin: auto;
    border-width: 1.5px;
    border-style : solid;
    border-color: rgb(7, 7, 7);
}

h3{
    text-align: left;
    text-decoration-line:underline;
    padding-left: 20px;
    
}
